/* common */
/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* font */
body {
    font-family: 'Roboto', sans-serif;
}
.layout {
    width: 80%;
    margin: 0 auto;
}
.float-left {
    float: left;
}

.list-inline {
    list-style: none;
}
.list-inline li {
    display: inline-block;
    padding: 0 12px;
}
.list-inline a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    /* IMPO line-height IMPO */
    line-height: 20px;
    /* OCCHIO! RIMUOVI ANCHE QUI TEXT DEC. */
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    
}
 /* CORREGGO PADDING EREDITATO DA .btn */
.btn-largex {
    padding: 5px 40px;
}
.btn-largey {
    padding: 15px 15px;
}
/* VARIANTI BOTTONI */
.btn-blue {
    background-color: #0c325a;
    border: 1px solid white;
    /* CORREGGO PADDING EREDITATO DA .btn */
}
.btn-green {
    background-color: #7cbb02;
    border: 1px solid #7cbb02;
}

p {
    color: gray;
}
/* debug */
/* header debug */

/* main debug*/

/* footer debug*/

/* header */
header {
    background-color: #0c325a;
    /* background imge */
    background-image: url(../img/background-header.png);
    background-size: 75% auto;
    background-repeat: no-repeat;
    background-position-x: 120%;
    background-position-y: 115%;
}
/* menu */
.header-nav {
    height: 100px;
    line-height: 100px;
}
.header-logo {
    height: 100%;
    width: 15%;
}
.nav-one {
    height: 100%;
    width: 45%;
    text-align: left;
}
.nav-two {
    height: 100%;
    width: 40%;
    text-align: right;
}

.jumbotron {
    height: 500px;
    position: relative;
}
.jumbotron-content {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);

}
h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
}
/* /HEADER */
/* sezione uno */
.section-one {
    background-color: lightgray;
}
.section-one-content {
    text-align: center;
    padding: 40px 0;
}
.section-one-content h2 {
    margin-bottom: 20px;
}
.section-one-content p {
    font-weight: bold;
}


/* section due */
.element {
    height: 100%;
    width: 32%;
    text-align: center;
    padding: 40px 0;
}
.center {
    margin: 0 2%;
}

.image {
    height: 150px;
    width: 100%;
}
.image img {
    max-width: 100%;
    max-height: 100%;
}
.element h3 {
    margin: 5% 0;
    font-size: 30px;
    color: #7cbb02;
}
.element p {
    font-size: 20px;
}
.element .bar {
    height: 1px;
    width: 20%;
    margin: 5% auto;
    background-color: gray;
}


.bar {
    height: 1px;
    width: 100%;
    background-color: gray;
    margin-bottom: 30px;
}

.section-three {
}

.layout-two {
    width: 70%;
    margin: 0 auto;

}
.parte {
    height: 400px;
    width: 45%;
    margin-bottom: 40px;

}
.sinistra {
    margin-right: 10%;
}

.parte img {
    max-width: 100%;
    max-height: 100%;
}
.parte h2,
footer h2 {
    font-size: 40px;
}

.parte p {
    font-size: 20px;
    margin: 30px 0;
}


footer {
    height: 200px;
    background-color: lightgray;
}

.footer-nav {
    height: 200px;
    line-height: 200px;
}
.footer-title {
    width: 50%;
    vertical-align: middle;
}
.footer-nav-right {
    width: 50%;
    text-align: right;
    vertical-align: middle;
}

.footer-nav a:not(.btn) {
    font-size: 20px;
    text-transform: none;
    color: gray;
}
