/* common */
/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.float-left {
    float: left;
}
/* font */
body {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 50px;
    color: white;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 30px;
}
p {
    font-size: 20px;
    color: gray;
}

/* layout */
/* layout 80% */
.layout-one {
    width: 80%;
    margin: 0 auto;
}
/* layout 70% */
.layout-two {
    width: 70%;
    margin: 0 auto;

}

/* lista inline */
.list-inline {
    list-style: none;
}
.list-inline li {
    display: inline-block;
    padding: 0 12px;
}
.list-inline a:not(.btn) {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    /* IMPO line-height IMPO */
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
}
.btn-largex {
    padding: 5px 30px;
}
.btn-largey {
    padding: 17px 13px;
    font-size: 15px;
}
.btn-blue {
    background-color: #0c325a;
    border: 1px solid white;
}
.btn-green {
    background-color: #7cbb02;
    border: 1px solid #7cbb02;
}

/* HEADER */
header {
    background-color: #0c325a;
    /* background imge */
    background-image: url(../img/background-header.png);
    background-size: 75% auto;
    background-repeat: no-repeat;
    background-position-x: 120%;
    background-position-y: 115%;
}
/* menu */
.header-nav {
    height: 100px;
    line-height: 100px;
}
.header-logo {
    width: 15%;
}
.nav-one {
    width: 45%;
}
.nav-two {
    width: 40%;
    text-align: right;
}
/* jumbotron */
.jumbotron-container {
    height: 500px;
    position: relative;
}
.jumbotron {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
.jumbotron h1 {
    margin-bottom: 30px;
}
/* /HEADER */

/* sezione uno */
.section-one {
    text-align: center;
    padding: 40px 0;
    margin-bottom: 40px;
    background-color: lightgray;
}
.section-one h3 {
    margin-bottom: 15px;
}

/* section due */
.element-one {
    height: 100%;
    width: 32%;
    text-align: center;
}
.center {
    margin: 0 2%;
}

.image {
    height: 150px;
    width: 100%;
}
.image img {
    max-width: 100%;
    max-height: 100%;
}
.element-one h3 {
    margin: 5% 0;
    color: #7cbb02;
}

/* barra separatrice */
.element-one .bar {
    height: 1px;
    width: 20%;
    margin: 5% auto;
    background-color: gray;
}

.bar {
    height: 1px;
    width: 98%;
    margin: 40px auto;
    background-color: lightgray;
}

/* section 3 */
.element-two {
    height: 400px;
    width: 45%;
}
.sx {
    margin-right: 10%;
}

.element-two img {
    max-width: 100%;
    max-height: 100%;
}

.element-two p {
    margin: 20px 0;
}

/* footer */
footer {
    height: 200px;
    margin-top: 40px;
    background-color: lightgray;
}

.footer-container {
    height: 200px;
    line-height: 200px;
}
.footer-title {
    width: 50%;
    vertical-align: middle;
}
.footer-nav {
    width: 50%;
    text-align: right;
    vertical-align: middle;
}

.footer-nav a:not(.btn) {
    font-size: 18px;
    text-transform: none;
    color: gray;
}

/* pseudo-select */
.pseudo-select {
    border-bottom: 2px solid;
}
.pseudo-select::after {
    content: "\2007\2007\2007\2007\2007
    \2007\2007\2007\2007\2007\25BC";
}
/* fixed help*/
.fixed {
    position: fixed;
    bottom: 0;
    left: 80%;
}